<!DOCTYPE html>
<html>
  <head>
  
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  
  
    <meta charset="utf-8">
    <title>Question</title>

  </head>
  <body>
    
  <nav class="navbar navbar-expand-lg navbar-light bg-danger" style="background-color: #e3f2fd;">
    <div class="container-fluid"> <strong>Quiz de Ruby  </strong> </p> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/highscore">Highscore</a>
          
        </li>
    </div>
  </div>
</nav>

<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row justify-content-between align-items-center mcq">
                        
                        <h4>Ruby Quiz</h4><span>(<%= @preguntaActual %> of <%= @cantidadPreguntas %>)</span>
                        
                    </div>
                </div>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">A.</h3>
                        <h5 class="mt-1 ml-2"><%= @question %></h5>
                    </div>
                    <form method="post" action="/siguientePregunta">
                    
                    <%if @rightData  %>
                      <h6>You are correct</h6>
                    <%else %>
                      <h6>You are incorrect, the correct answer is:</h6>
                    <% end %>
                    
                    <div class="ans ml-2">
                        <input type = "radio" class="btn-check" name = "option" id=<%= @correct %> value=<%=  @correct %>>
                        <label class = "btn btn-danger" for = <%=  @correct %>> <%=  @correct %></label>
                    </div>
                  
                  
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary border-success align-items-center btn-success" type="submit">Next<i class="fa fa-angle-right ml-2"></i></button></div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>